body{
  background-image: url(../img/baby.jpg);
  background-size: 100%;
  background-repeat: no-repeat;

}

h1 {
  float: right;
  margin-right: 8px;
  margin-top: 6%;
}

h2 {
  font-family: Shadows into light;
  text-align: center;
  font-size: 900%;
  color: #39BD6D;
  font-weight: bold;
  margin-top: 2%;
}

h4 {
  text-align: center;
  font-family: Shadows into light;
  font-size: 400%;
  color: #39BD6D;
}

.instruccions {
  float: left;
  margin-left: 3%;
  position: absolute;
  left: 3.5%;
  top: 30%;
  width: 20%;
  height: 8%;
}

p {
  display: inline-block;
  font-family: Shadows into light;
  font-size: 200%;
}

.infected {
  margin-left: 65%;
  margin-top: -30%;
}


.btngroup {
  width: 30%;
  margin-left: 2%;

}

.startButtons {
    background-color: #FFFFE5;
    border: none;
}

canvas {
  border: 2px solid black;
  float: left;
  display: inline;
  margin: -39% 42%;
  background-color: #8AD5FE;
}

.main-baby {
  display: none;
}

.bottle2 {
  display: none;
}

.instructions {
  width: 50%;
  height: 50%;
}

.littleboss {
  float: left;
  margin-top: -10%;
  display: inline;

}
.bottle {
  display: none;
}

.modalgrande {
  display: inline;
  overflow: auto;
}

.gameoverbaby {
  width: 80%;
  height: 80%;
  margin-left: 7%;
}
