body{
  background-image: url(../img/baby.jpg);
  background-size: 100%;
  background-repeat: no-repeat;

}

h2 {
  font-family: chalkduster;
  text-align: center;
  font-size: 500%;
}

h1 {
  float: right;
  margin-right: 8px;
  margin-top: 6%;
}
.btngroup {
  width: 30%;
  margin-left: 2%;
  background-color: rgba(255,255,255,.09);
}

canvas {
  border: 2px solid black;
  float: left;
  display: inline;
  margin: -38% 42%;
  background-color: #8AD5FE;
}

.main-baby {
  display: none;
}

.bottle2 {
  display: none;
}

.littleboss {
  float: left;
  margin-top: -10%;
  display: inline;
}
.bottle {
  display: none;
}

.modalgrande {
  display: inline;
  overflow: auto;
}

.gameoverbaby {
  width: 80%;
  height: 80%;
  margin-left: 7%;
}
