body{
  background-image: url(/Users/DharmaVelasco/code/first-project/img/baby.jpg);
  background-size: 100%;

}

h2 {
  font-family: chalkduster;
  text-align: center;
  font-size: 500%;
}

img{
  float: right;
  margin-right: -2%;
  margin-top: 5%;
}
h1 {
  float: right;
  margin-right: 8px;
  margin-top: 6%;
}

canvas {
  border: 2px solid black;
  margin: -8% 10%;
}

.main-baby {
  display: none;
}

.bottle2 {
  display: none;
}
